#board {
    background-color: bisque;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 150px;
}

#tile {    
    margin: 10px;
}

