body {
    background: #453d54;
}

.status button {
    background-color: #aa80ff;
    border-radius: 10px;
    color: #fff;
}

.status textarea {
    border: 1px solid #999;
    border-radius: 10px;

    width: 23em;
    height: 1em;
}

.selected {
    animation-name: selectedAnim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.deselected {
    animation-name: selectedAnim;
    animation-duration: 1s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

@keyframes selectedAnim {
    from { height: 1em; background-color: #fff; }
    to { height: 3em; background-color: #ffcfe4;}
}

p {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  